#sitenav li a {
	border:0;
	color: #91abf0;
	padding: 0.5em 0.8em;
	margin: 0.75em  0.1em;
	min-width: 0;
    text-align: center;
    -moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	font-size: 14px;
	text-transform: uppercase;
}

#sitenav .selected a, #sitenav a:hover {
background-color:#426eeb;
color:#ffffff;
}

#crossbar {
	border-top: 1px solid #3a5cc0;
	background-color: #1d3061;
	clear: both;
	position: relative;
}

#footer {
    border: none;
    background: transparent;
    color: white;
}

#footer a {
    color: white;
}

#help-disclaimer {
    float: right;
}
#footer .onecol {
	background-color: #1d3061;
}

#logo {
float: left;
width: 460px;
height: 50px;
background: url(./logo.gif) no-repeat;
overflow: hidden;
text-indent: -9999em;
}

#header {
background: #2D4A9A;
}
